[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
eventlet = "*"
six = "*"
ipdb = "*"
gunicorn = "*"

[dev-packages]
flake8 = "*"
yapf = "*"

[requires]
python_version = "2.7"
